# compiled output
/node_modules
/build

# Generierte Dateien
/.cache
.DS_Store

# dotenv environment variable files
.env

# IDE - VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Documents
notes.md
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
